@use '../base/variables' as var;
@use '../base/mixin' as mixin;
@use '../base/colores' as colors;


/*Marks Cars*/
.marksCars{
    background-color: colors.$color5;
    .marks {
        width: 100%;
        padding: 38px 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .textMark{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            small{
                color:colors.$color1;
            }

            h2{
                color:colors.$color3;
                font-family: var.$tipografia1;
            }
        }
        .iconMarks{
            flex-grow: 3;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            i {
                color: colors.$color3;
                font-size: 60px;
                transition: all .5s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}
/*Icons*/

.leadBackground{
    background-color:colors.$color7;
    padding: 55px 0;
    .icons{
        display: flex;   
        justify-content: space-between;
        flex-wrap: wrap;

        &__container{
            display: flex;
            flex-basis: calc(33% - 35px);
            margin-bottom: 35px;
        }
        &__icon{
            color:colors.$color1;
            font-size: 50px;   
        }
        &__content{
            margin-left: 20px;
        }
        &__title{
            @include mixin.title(var.$tipografia1, 1rem, colors.$color4);
            margin-bottom: 0.4rem;
        }

        &__text{
            @include mixin.text(var.$tipografia2, 1rem, colors.$color2);       
        }
    }
}


/*newCars*/
.newCars{
    padding: 35px 0;

    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    &__title{

        @include mixin.title(var.$tipografia1, 1.8rem, colors.$color4);
        margin-bottom: 15px;
    }

    &__description{
        @include mixin.text(var.$tipografia2, 1.2rem, colors.$color2);
    }

    &__images{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    &__image{
        width:30%;
    }
}

/*Parallax*/

.parallax{
    background-image:url(../img/contactos-min.jpg);
    width: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 50px 0;
    &::before{
        content:'';
        width: 100%;
        height: 100%;
        background-color: colors.$color8;
        position: absolute;
        top: 0;
    }
    .contentParallax{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        &__left{
            width: 45%;
        }
        &__image{
            width: 100%;
        }
        &__small{
            color: colors.$color3;
            font-size: 16px;
            display: inline-block;
            margin-bottom: 20px;
        }
        &__title{
            color: colors.$color3;
            font-size: 24px;
            font-family: var.$tipografia1;
            margin-bottom: 30px;
        }
        &__right{
            width: 45%;
            padding: 40px 0;
        }
    }
    .step{
        margin-bottom: 25px;
        &__:last-child{
            margin-bottom: 0px;
        }
        &__title{
            display: flex;
            align-items: center;
            span{
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items:center;    
                background-color: colors.$color1;
                color: colors.$color3;
                font-size: 22px;
                font-weight: 700;
                border-radius: 50%;
                margin-right:20px ;
                @include mixin.title(var.$tipografia1, 1.1rem, colors.$color3);
            }
            h4{
                @include mixin.title(var.$tipografia1, 1.1rem, colors.$color3);
            }
        }
        &__content{
            p{
                @include mixin.text(var.$tipografia2, 1rem, colors.$color3);
    
            }
        }
    }
    
}
    