@use '../base/variables' as var;
@use '../base/mixin' as mixin;
@use '../base/colores' as colors;

.main{
    .blog{
        &__title{
            @include mixin.title(var.$tipografia1, 1.5rem, colors.$color1);
            margin-bottom: 1.5em;
        }
        &__articles{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .article{
            margin-bottom: 1.5em;
            width: 45%;
            &__image{
                width: 100%;
            }
            &__content{
                padding: 1.2em;
            }
            &__date{
                color: colors.$color2;
                font-family: var.$tipografia2;
                font-size: 1rem;
            }
            &__title{
                @include mixin.title(var.$tipografia1, 1.2rem, colors.$color4);               
                margin-bottom: 1rem;
                cursor: pointer;
            }
            &__text{
                @include mixin.text(var.$tipografia2, 1rem, colors.$color2, justify);
            }
        }
    }
}